@model WebApplication21.Models.salemove

<div>
    <span class="d-inline-block">Amount:</span>
    <strong class="order-detail-value"> @Html.DisplayFor(x=>x.saleallprice) </strong>
</div>

<div>
    <span class="d-inline-block">Discount:</span>
    <strong class="order-detail-value">
        $0.00
    </strong>
</div>
<div>
    <span class="d-inline-block">Shipping fee:</span>
    <strong class="order-detail-value">$0.00 </strong>
</div>
