
@{
    ViewBag.Title = "Login";
    Layout = "~/Shared/layoutviews.cshtml";
}

<div class="header-middle header-middle-ptb-1 d-none d-lg-block">
    <div class="container">
        <div class="header-wrap header-space-between">
            <div class="logo logo-width-1">
                <a href="~/Homeindex/Index"><img src="~/Content/storage/general/logom.png" alt="Device Raptors"></a>
            </div>
            @Html.Action("parcat", "Homeindex")
            <div class="header-action-right">
                <div class="header-action-2">


                    <div class="header-action-icon-2">
                        <a class="mini-cart-icon" href="~/basket/Index">
                            <img alt="Cart" src="~/Content/images/icons/icon-cart.svg">
                          
                        </a>
                        <div class="cart-dropdown-wrap cart-dropdown-hm2">
                            <a href="~/basket/Index" class="text-center" style="font-weight:bolder; color: var(--color-warning)">Let's see your basket</a>
                        </div>
                    </div>
                    <div class="header-action-icon-2">
                        <a href="~/customerpanel/Index">
                            <img alt="Sign In" src="~/Content/images/icons/icon-user.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header-bottom header-bottom-bg-color sticky-bar gray-bg sticky-blue-bg">
    <div class="container">
        <div class="header-wrap header-space-between position-relative main-nav">
            <div class="logo logo-width-1 d-block d-lg-none">
                <a href="index.html"><img src="~/Content/storage/general/logo-light.png" alt="Device Raptors"></a>
            </div>
            <div class="main-categories-wrap d-none d-lg-block">
                <a class="categories-button-active" href="#">
                    <span class="fa fa-list"></span> Browse Categories <i class="down far fa-chevron-down"></i> <i class="up far fa-chevron-up"></i>
                </a>
                @Html.Action("parcat1", "Homeindex")
            </div>

            <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block main-menu-light-white hover-boder hover-boder-white">
                <nav>
                    <ul>
                        <li class="">
                            <a href="~/Homeindex/Index" class="active" target="_self">
                                Home
                            </a>
                        </li>
                        <li class="">
                            <a href="~/Homeindex/Shop" target="_self">
                                Shop
                            </a>

                        </li>


                        <li class="">
                            <a href="~/Homeindex/contact" target="_self">
                                Contact
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="hotline d-none d-lg-block">
                <p><i class="fa fa-phone-alt"></i><span>Hotline</span> 1900 - 888</p>
            </div>
            <div class="header-action-right d-block d-lg-none">
                <div class="header-action-2">

                    @*<div class="header-action-icon-2">
                            <a href="wishlist.html">
                                <img alt="wowy" src="~/Content/images/icons/icon-heart-white.svg">
                                <span class="pro-count white"> <span>0</span></span>
                            </a>
                        </div>*@
                    <div class="header-action-icon-2">
                        <a class="mini-cart-icon" href="~/customersale/Index">
                            <img alt="wowy" src="~/Content/images/icons/icon-cart-white.svg">
                            <span class="pro-count white">0</span>
                        </a>
                        @*<div class="cart-dropdown-wrap cart-dropdown-hm2">
                                <span>No products in the cart.</span>
                            </div>*@
                    </div>
                    <div class="header-action-icon-2">
                        <a href="~/Homeindex/login">
                            <img alt="wowy" src="~/Content/images/icons/icon-user-white.svg">
                        </a>
                    </div>
                    <div class="header-action-icon-2 d-block d-lg-none">
                        <div class="burger-icon burger-icon-white">
                            <span class="burger-icon-top"></span>
                            <span class="burger-icon-mid"></span>
                            <span class="burger-icon-bottom"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </header>

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb" itemscope >
                <a href="~/Homeindex/Index" itemprop="item" title="Home">
                    Home
                    <meta itemprop="name" content="Home" />
                    <meta itemprop="position" content="1" />
                </a>
                <span></span>
                Login
                <meta itemprop="name" content="Login" />
                <meta itemprop="position" content="2" />
            </div>
        </div>
    </div>
    <section class="pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 m-auto">
                    <div class="login_wrap widget-taber-content p-30 background-white border-radius-10">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1 mb-20">
                                <h3 class="mb-20">Login</h3>
                                <p>Please enter your email address and password</p>
                            </div>
                            <form class="form--auth form--login" method="POST">
                                <input type="hidden" name="_token" value="Kzop8Ss5oqNvIRgZ8uC6ZP4BL29UXxe5NwT41xd5"> <div class="form__content">
                                    <div class="form-group">
                                        <label for="txt-email" class="required">Email Address</label>
                                        <input name="customermail" id="useremail" type="email" value="" placeholder="Please enter your email address">
                                    </div>
                                    <div class="form-group">
                                        <label for="txt-password" class="required">Password</label>
                                        <div class="form__password">
                                            <input type="password" name="customerpass" id="userpass" placeholder="Please enter your password">
                                        </div>
                                    </div>
                                    <div class="login_footer form-group">
                                        <div class="chek-form">
                                            <div class="custome-checkbox">
                                                <input class="form-check-input" type="checkbox" name="remember" id="remember-me-checkbox">
                                                <label class="form-check-label" for="remember-me-checkbox"><span>Remember me</span></label>
                                            </div>
                                        </div>
                                        @*<a class="text-muted" href="password/reset.html">Forgot password?</a>*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-fill-out btn-block hover-up">Login</button>
                                </div>
                                <br>
                                <p>Don&#039;t have an account? <a href="~/Homeindex/Register" class="d-inline-block">Create one</a></p>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

