
@{
    ViewBag.Title = "Login";
    Layout = "~/Shared/layoutviews.cshtml";
}

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                <a href="index.html" itemprop="item" title="Home">
                    Home
                    <meta itemprop="name" content="Home" />
                    <meta itemprop="position" content="1" />
                </a>
                <span></span>
                Login
                <meta itemprop="name" content="Login" />
                <meta itemprop="position" content="2" />
            </div>
        </div>
    </div>
    <section class="pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 m-auto">
                    <div class="login_wrap widget-taber-content p-30 background-white border-radius-10">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1 mb-20">
                                <h3 class="mb-20">Login</h3>
                                <p>Please enter your email address and password</p>
                            </div>
                            <form class="form--auth form--login" method="POST" >
                                <input type="hidden" name="_token" value="Kzop8Ss5oqNvIRgZ8uC6ZP4BL29UXxe5NwT41xd5"> <div class="form__content">
                                    <div class="form-group">
                                        <label for="txt-email" class="required">Email Address</label>
                                        <input name="customermail" id="useremail" type="email" value="" placeholder="Please enter your email address">
                                    </div>
                                    <div class="form-group">
                                        <label for="txt-password" class="required">Password</label>
                                        <div class="form__password">
                                            <input type="password" name="customerpass" id="userpass" placeholder="Please enter your password">
                                        </div>
                                    </div>
                                    <div class="login_footer form-group">
                                        <div class="chek-form">
                                            <div class="custome-checkbox">
                                                <input class="form-check-input" type="checkbox" name="remember" id="remember-me-checkbox">
                                                <label class="form-check-label" for="remember-me-checkbox"><span>Remember me</span></label>
                                            </div>
                                        </div>
                                        <a class="text-muted" href="password/reset.html">Forgot password?</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-fill-out btn-block hover-up">Login</button>
                                </div>
                                <br>
                                <p>Don&#039;t have an account? <a href="~/Homeindex/Register" class="d-inline-block">Create one</a></p>
                                <div class="text-left">
                                    <div class="login-options">
                                        <br>
                                        <p style="font-size: 14px">Login with social networks</p>
                                        <ul class="social-icons">
                                            <li>
                                                <a class="social-icon-color facebook" data-bs-toggle="tooltip" data-bs-original-title="facebook" href="https://www.facebook.com/v3.3/dialog/oauth?client_id=2062637023872679&amp;redirect_uri=https%3A%2F%2Fwowy.botble.com%2Fauth%2Fcallback%2Ffacebook&amp;scope=email&amp;response_type=code&amp;state=0yC9ycXvlWtu15ciIeQi4Hx42raBHFrUAubkZc6j"></a>
                                            </li>
                                            <li>
                                                <a class="social-icon-color google" data-bs-toggle="tooltip" data-bs-original-title="google" href="https://accounts.google.com/o/oauth2/auth?client_id=329814605456-ruovuotj5aheu5fodoj7kmhfnmguaofc.apps.googleusercontent.com&amp;redirect_uri=https%3A%2F%2Fwowy.botble.com%2Fauth%2Fcallback%2Fgoogle&amp;scope=openid+profile+email&amp;response_type=code&amp;state=qVSlZZsIdX4euAtgaWkF8mMJ1pfPZQmZjFpr3eIf"></a>
                                            </li>
                                            <li>
                                                <a class="social-icon-color github" data-bs-toggle="tooltip" data-bs-original-title="github" href="https://github.com/login/oauth/authorize?client_id=a195aef6078542bbb885&amp;redirect_uri=https%3A%2F%2Fwowy.botble.com%2Fauth%2Fcallback%2Fgithub&amp;scope=user%3Aemail&amp;response_type=code&amp;state=hnJeIwL54GRqLx9oHYDTRWKLFb8xzlH6PR6Zp4pD"></a>
                                            </li>
                                            <li>
                                                <a class="social-icon-color linkedin" data-bs-toggle="tooltip" data-bs-original-title="linkedin" href="https://www.linkedin.com/oauth/v2/authorization?client_id=865vkhdnjuqp9f&amp;redirect_uri=https%3A%2F%2Fwowy.botble.com%2Fauth%2Fcallback%2Flinkedin&amp;scope=r_liteprofile+r_emailaddress&amp;response_type=code&amp;state=OH2HXhvKCJfVLHVjC5GFBqtp2gzDAhkfdT2LtBpg"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

