@using WebApplication21.Models
@model List<Category>

<div class="search-style-2">
   
        
        @using (Html.BeginForm("prodsearch", "Homeindex", FormMethod.Post))
        {
            
            <b>Search: @Html.TextBox("b") </b>
            <button type="submit" > <i class="far fa-search"></i> </button>

        }
        
</div>