@using WebApplication21.Models
@model List<sliders>

@foreach (var item in Model)
{

    <div class="single-hero-slider single-animation-wrap">
        <div class="container">
            <div class="slider-1-height-3 slider-animated-1">
                <div class="hero-slider-content-2">
                    <h4 class="animated">@item.sliderheader</h4>
                    <h1 class="animated fw-900 text-brand" style="color:#161824!important">@item.slidertoprod</h1>
                    <p class="animated">@item.sliderdiscabout</p>
                    <a class="animated btn btn-default btn-rounded" href="~/Homeindex/shop">Shop now <i class="fa fa-arrow-right"></i> </a>
                </div>
                <div class="slider-img">
                    <img src="@item.sliderimg" alt="image">

                    
                </div>
            </div>
        </div>
    </div>
}
